EXPO_PUBLIC_APP_ENV=production
EXPO_PUBLIC_SKIP_AUTH=false
EXPO_PUBLIC_UNLOCK_PRO_FOR_TESTING=false
EXPO_PUBLIC_SUPABASE_URL=https://feicgarueqllkpzgewul.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_RECEIPT_SCAN_API_URL=
EXPO_PUBLIC_STATIONS_API_URL=
EXPO_PUBLIC_ACCOUNT_DELETE_API_URL=
EXPO_PUBLIC_REVENUECAT_IOS_KEY=
EXPO_PUBLIC_REVENUECAT_ANDROID_KEY=
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=pro
